node_modules
dist
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.sublime-project
*.sublime-workspace
frontend/node_modules
frontend/dist
.prisma
/prisma/*.db
/prisma/*.db-journal
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
